* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
header {
  background: red;
  padding: 16px 24px;
  color: #fff;
  display: flex;
  border-bottom: 16px solid darkred;
  justify-content: center;
  text-transform: uppercase;
}
header button {
  margin-left: 16px;
}
form {
  background: gray;
  padding: 24px;
  text-align: center;
  display: none;
}
input,
button {
  padding: 8px;
}
button {
  background: green;
  border: none;
  cursor: pointer;
  color: #fff;
}
#cancelar {
  background: red;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
ul li {
  max-width: 25%;
  list-style: none;
  position: relative;
  max-height: 250px;
  overflow-y: hidden;
}
ul li img {
  width: 100%;
}
.overlay {
  padding: 16px;
  background: #00000070;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all ease 0.5s;
}
.overlay a {
  color: #fff;
  text-decoration: none;
}
ul li:hover .overlay {
  opacity: 1;
}
