*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}
main{
    padding-top: 70px;
}
/* Modifiquei essa parte para ser responsivo */
.container{
    max-width: 1366px;
    min-width: 828px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

body > header{
    background: #2e2f41;
    position: fixed;
    width: 100%;
    padding: 24px;
    color: #fff;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: inline;
    margin-left: 24px;
}
header li a{
    color: #fff;
    text-decoration: none;
}
/* /Header */

/* Sessões */

section{
    padding: 16px 24px;
}
#sports{
    background-color: rgba(0, 255, 0, 0.1);
}
#sports .articles article a{
    background: rgba(0, 255, 0, 0.8);
    color: #000;
}
#economy{
    background-color: #fffa65;
}
#economy .articles article a{
    background: #ff9f1a;
}
section h2{
    font-size: 32px;
    text-align: center;
    margin: 24px 0 32px;
}
.articles article{
    margin-bottom: 24px;
}

/* /Sessões */

/* Card de noticias */
article{
    background-color: #fff;
    border-radius: 16px;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article{
    width: 32%;
}
.articles .content{
    padding: 8px 16px 24px;
}
.articles article img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.articles article h3{
    margin: 8px 0 8px;
    font-size: 24px;
}
.articles article p{
    font-size: 14px;
    color: #4e4e4e;
}
.articles article a{
    background: red;
    color: #fff;
    padding: 8px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 8px;
    font-weight: bold;
}
.articles article a:hover{
    text-decoration: underline;
}
.creation-date{
    font-size: 12px;
    color: #4e4e4e;
}